html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    background: transparent url(https://t4.ftcdn.net/jpg/03/59/98/31/360_F_359983118_OUEqWt9VPKM2rysrc0S9AeQ2vP1VrkZ6.jpg) no-repeat;
    background-size: 100% 100%;
    width: 100vw;
    height: 100vh;
}
.main_container{
    display: flex;
}
.container1{
    margin: 0px;
    position: absolute;
    top: 0;
    right: 0px;
    width: 450px;
}
.cont1{
    font-size: 3rem;
    color: white;
    /* float: left; */
    margin-top: -100px;
    margin-bottom: 50px;
    /* padding: 0px; */
    
}
.cont1 > h1{
    background: transparent;
}
.cont2 > a{
    margin-top: 50px;
    display: block;
    color: teal;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    word-spacing: 5px;
    text-decoration: none;
}

@media (min-device-width:320px) and (max-device-width:480px){
    .container1{
        margin: 0px;
        position: absolute;
        top: 20px;
        right: 0px;
        width: 120px;
    }
    .image1{
        width: 120px;
        height: 100px;
    }
    .cont1{
        font-size: 1.2rem;
        color: #E0C097;
        margin-top: -10px;
    }
    .cont1 > h1{
        background: transparent;
    }
    .cont2 > a{
        margin-top: 50px;
        display: block;
        color: teal;
        font-size: 1.2rem;
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        word-spacing: 5px;
        text-decoration: none;
    }

}