html{
    margin: 0;
    padding: 0;
}

body{margin: 0px;
    padding: 0px;
    background: url(https://www.techrepublic.com/a/hub/i/r/2020/06/08/42f2f311-19ba-4a22-9fb2-0aa586ef6266/resize/1200x900/26ae3c68b70b3b368ff799bcc129a7a6/we-zoom-4.jpg) no-repeat ;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
    box-sizing: border-box;
}

header{
    font-family: sans-serif;
    background-color:#368B85;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    list-style: none;
}

header > ul{
    list-style-type: none;
    display: inline-flex;

}

header > ul > li{

    width: 120px;
    margin: 25px;
    padding: 10px;
}

header > ul > li > a{
    text-decoration: none;
    color: #464660;
}

.active, header > ul > li:hover{
    background-color: #B4B897;
    border-radius: 3px;

}

header > .fa {
    margin-right: 10px;
}
.sub_menu1{
    display: none;
}

header > ul > li:hover > .sub_menu1{

    display: block;
    position: absolute;
    background: #B4B897;
    margin-top: 15px;
    margin-left: -10px;
}

header > ul > li:hover > .sub_menu1 > ul{

    display: block;
    margin: 10px;

}

header > ul > li:hover > .sub_menu1 > ul> li{

    width: 150px;
    padding: 10px;
    list-style: none;
    background: transparent;
    border-radius: 0;
    text-align: left;

}

header > ul > li:hover > .sub_menu1 > ul> li > a{

    text-decoration: none;
    color: #464660;
}

header > ul > li:hover > .sub_menu1 > ul> li > a:hover{

    color: red;
}

.fa-angle-right{
    float: right;
}

.sub_menu2{
    display: none;
}

.hoverme:hover .sub_menu2{
    display: block;
    position: absolute;
    margin-top: -40px;
    margin-left: 140px;
    background: #B4B897;
}
